body
{
  font: 400 62.5% 'Arvo', serif;
  background: #eeeeee;
}

main{
  position:absolute;
  width : 500px;
  left:50%;
  transform: translate(-50%, 0%);
  border: 1px solid green;
}

/*titre */
h1
{
  text-align: center;
  font-size: 3.0rem;
  margin-top: 5%;
  margin-bottom: 15%;
}

/*image en fond */

.image
{
  background: url(../img/qijx.png) no-repeat;
  height:500px;
  width: 150px;
  margin-left: 4%;
  position:relative;
  border: 1px solid red;
}

/* texte des différents bouton */
 .texte
 {
  position: absolute;
  font-size: 1.0rem;
  width : 250px;
  height: 500px;
  margin-left : 180px;
  display:none;
  border: 1px solid blue;
 }

 /* placement du texte par rapport au bouton*/
 #texte_epaule
 {
   margin-top: -90px;
   margin-left: 175px;
 }

 #texte_poignet
 {
   margin-top:-214px;

 }

 #texte_genou
 {
   margin-top:-328px;
   margin-left: 155px;
 }

 #texte_cheville
 {
   margin-top:-424px;
   margin-left: 115px;
 }

 #texte_hanche
 {
   margin-top: -235px;
   margin-left: 100px;
 }

 #texte_coude
 {
   margin-top: -170px;
   margin-left: 80px;
 }

/*
.rond_epaule:hover .texte*/
.image div:hover .texte
{
  display:block;
}

/* description des boutons */
 .rond_epaule
 {
  position:absolute;
  background-color: rgba(0,0,0,0.5);
  border-radius:50%;
  width: 50px;
  height:50px;
  top:90px;
  left:-2px;
}

.rond_poignet
{
  position:absolute;
  background-color: rgba(0,0,0,0.5);
  border-radius:50%;
  width: 50px;
  height:50px;
  top:214px;
  left:-8px;
}

.rond_genou
{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  border-radius:50%;
  width: 50px;
  height:50px;
  top:328px;
  left:23px;
  /*transform:translate(23px, 328px);*/
}

.rond_cheville
{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  border-radius:50%;
  width: 50px;
  height:50px;
  top: 424px;
  left : 65px;
/*  transform:translate(65px, 424px);*/
}

.rond_hanche
{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  border-radius:50%;
  width: 50px;
  height:50px;
  top: 233px;
  left:81px;
  /*transform:translate(81px, 233px);*/
}

.rond_coude
{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  border-radius:50%;
  width: 50px;
  height:50px;
  top: 164px;
  left: 100px;
  /*transform:translate(100px, 164px);*/
}

/* passage au rouge lors du clic */
.rond_epaule:hover,
.rond_poignet:hover,
.rond_genou:hover,
.rond_cheville:hover,
.rond_hanche:hover,
.rond_coude:hover
{
  background-color: rgba(234,0,0,0.8);
}
